{% extends "index2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!--{% block head %}-->
    <!--{{super()}}-->
<!--{% endblock %}-->

<!--{% block scripts %}-->
    <!--{{super()}}-->

<!--{% endblock %}-->


{% block index2 %}

    <div class = "container">
        <div class = "row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 card">
                <div class = "card-block">
<!--123-->
                    {{ wtf.quick_form(form) }}
<!--456-->
                </div>
            </div>
            <div class="col-md-3">
            </div>
         </div>
    </div>

{% endblock %}


