<!DOCTYPE html>
<meta charset="utf-8">

<html>
    <head>
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap2.css') }}">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/bootstrap.min2.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontastic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grasp_mobile_progress_circle-1.0.0.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/jquery.mCustomScrollbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.default.css') }}" id="theme-stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    </head>
    <body>

    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center"><img src="{{ url_for('static', filename='image/sexy.jpg') }}" alt="person" class="img-fluid rounded-circle">
            <h2 class="h5">劉某</h2><span>Web Developer</span>
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="/" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
          <h5 class="sidenav-heading">Main</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">
            <li><a href="/index2"> <i class="icon-home"></i>Home                             </a></li>
            <li><a href="forms.html"> <i class="icon-form"></i>Forms                             </a></li>
            <li><a href="/index3"> <i class="fa fa-bar-chart"></i>Charts                             </a></li>
            <li><a href="tables.html"> <i class="icon-grid"></i>Tables                             </a></li>
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
              </ul>
            </li>
            <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page                             </a></li>
            <li>
                <a href="#"> <i class="icon-mail"></i>
                    Demo
                <!--<div class="badge badge-warning">6 New</div>-->
                </a>
            </li>
          </ul>
        </div>
        <div class="admin-menu">
          <h5 class="sidenav-heading">Second menu</h5>
          <ul id="side-admin-menu" class="side-menu list-unstyled">
            <li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
            <li> <a href="#"> <i class="icon-flask"> </i>Demo
                <div class="badge badge-info">Special</div></a></li>
            <li> <a href=""> <i class="icon-flask"> </i>Demo</a></li>
            <li> <a href=""> <i class="icon-picture"> </i>Demo</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page">
    <header class="header">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <div class="navbar-header">
                  <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
                  <a href="index.html" class="navbar-brand">
                      <div class="brand-text d-none d-md-inline-block">
                          <span><font size="5">(真的)</font></span>
                          <strong class="text-primary"><font size="5">高雄發大財</font></strong>
                      </div>

                  </a>
              </div>

                    <ul class="nav navbar-nav navbar-right">

                    {% if current_user.is_authenticated %}
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-out"></span> 登出 </a></li>
                    {% else %}
                    <li><a href="/auth/login/user" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-in"></span> 登入 </a></li>
                    <li><a href="/auth/register" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> 註冊 </a></li>
                    {% endif %}

                </ul>
            </div>
          </div>
        </nav>
      </header>

{% block chart %}
        <h1><font size="7">待辦事項:</font></h1>
        <ul><font size="5">1.想一下首頁要放什麼</font></ul>
        <ul><font size="5">2.調整登入&註冊位置跟顏色</font></ul>
        <ul><font size="5">3.登入&註冊動作尚未完成</font></ul>
        <ul><font size="5">4.index3繼承的位置不知道怎麼搞QQ</font></ul>


    </div>
{% endblock %}

{% block history %}
{% endblock %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/techanjs.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- JavaScript files-->
    <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/popper.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grasp_mobile_progress_circle-1.0.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery.cookie.js') }}"> </script>
    <script src="{{ url_for('static', filename='vendor/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts-home.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Main File-->
    <script src="{{ url_for('static', filename='js/front.js') }}"></script>
    </body>
</html>