{% extends "index2.html" %}


{% block chart %}
<div>
        <h1><font size="7">待辦事項:</font></h1>
        <ul><font size="5">1.選完產業後接模型結果</font></ul>
        <ul><font size="5">2.</font></ul>
        <ul><font size="5">3.</font></ul>
        <ul><font size="5">4.</font></ul>
        <ul><font size="5">5.</font></ul>
</div>
<div class="form-group row">
<div class="col-sm-10 mb-3">
<select name="account" class="form-control" style="margin-left: 20px">
  <option>金融業</option>
  <option>半導體業</option>
  <option>電信業</option>
  <option>...</option>
</select>
{% endblock %}